#set($page = "personal") 
#set($header = "true")
#set($footer = "true")
#set($uploader = "true")
<input type="hidden" id="showInfoForNewUser" value="$showInfoForNewUser"/>
<div class="content clear">
	<div class="person-center">
		<form class="form-horizontal mt30" id="J_person_form" autocomplete="off">
			
    		<div class="person-info">
    			<div class="person-img">
                    <div class="person-tip">修改头像</div>                   
                      <img id="J_person_img" src="/chance/resources/images/default_userlogo.jpg">
                    </div>
                    <div class="person-profile">
    					<div class="person-name"></div>
                        <a class="person-edit" href="javascript: void(0)">
    						<i class="iconfont">&#xe621;</i>
                        </a>       
                        <div>
                            <div class="person-txt"></div>
                            <div class="edit hide">
                              <textarea type="text" class="form-control wd3" id="mySignatures" name="mySignatures" row="2"></textarea>
                            </div>                    
                        </div>
                    </div>
                </div>
			
			<div class="person-uphold hide">
				<div class="form-group">
                    <label class="control-label">手机号码</label>
                    <div class="form-group-wrap">
						<div class="display">
                          <!--<a href="https://passport.taobao.com/ac/password_modify.htm?fromSite=0" class="link-hvn" target="_blank">修改手机号码</a>-->
						</div>                  
                    </div>
				</div>          
    			<div class="form-group">                
                    <label for="myEmail" class="control-label">
                       <span class="form-required">*</span>邮箱
                    </label>
                    <div class="form-group-wrap">
                      <input type="text" class="form-control wd4 sensitive" placeholder="请填写邮箱地址" id="myEmail" name="myEmail" data="" value="">
                    </div>
				</div>
    			<div class="form-group">
                    <label for="myName" class="control-label">
    					    <span class="form-required">*</span>真实姓名
              		</label>
                    <div class="form-group-wrap">
                      <input type="text" class="form-control wd4 sensitive" placeholder="请填写真实姓名" id="myName" name="myName" data="" value="">
                    </div>
                </div>
    			<div class="form-group">
                    <label for="myWeibo" class="control-label">我的微博</label>
                    <div class="form-group-wrap">
                      <input type="text" class="form-control wd4" id="myWeibo" name="myWeibo" value="">
                    </div>
                </div>
    			<div class="form-group">
                    <label for="myWeixin" class="control-label">我的微信</label>
                    <div class="form-group-wrap">
                      <input type="text" class="form-control wd4" id="myWeixin" name="myWeixin" value="">
                    </div>
                </div>
    			<div class="form-group">
                    <label for="myInfo" class="control-label">个人简介</label>
                    <div class="form-group-wrap">                  
    				        <textarea class="form-control wd4" placeholder="请输入个人简介" rows="3" id="myInfo" name="myInfo"></textarea>
                    </div>
                </div>		  
                <div class="form-group">               
                    <div class="form-group-left">
                      <button type="submit" class="btn btn-primary per-save">保 存</button>
                    </div>      
                </div>
            </div>
			
       </form>
	</div>

    <div class="my-project">
    	<div class="new-project">
    		<div class="new-project-tip">我的项目</div>
    	    <a class="btn btn-default new-project-btn" href="/chance/pro/pro_create.htm" role="button">
    			 新增项目
    		</a>			
    	</div>			
        <div class="my-project-list">
    		<ul id="my-project-ul">		
				#foreach( $!pro in $!myPros) 
                  <li>
                      <div class="p-logo"> 
                        #if($pro.logo)
                          <a href="/chance/pro/pro_financing.htm?projectId=$!pro.encryptedId" target="_blank"><img src="$!pro.logo"></a>
                        #else
                          <a href="/chance/pro/pro_financing.htm?projectId=$!pro.encryptedId" target="_blank"><img src="/chance/resources/images/pro_default.jpg"></a>
						#end
                      </div>
                      <div class="p-content"> 
                        <div class="p-info">
                          <div class="p-name">
                              <a href="/chance/pro/pro_financing.htm?projectId=$!pro.encryptedId" target="_blank">$!pro.name</a> 
                              <div class="p-edit">            
                                <a class="edit-project-btn" href="/chance/pro/pro_edit.htm?adtype=3&projectId=$!pro.encryptedId">
                                  <i class="iconfont">&#xe621;</i> 编辑
                                </a>
                                #if ( $!pro.statusName != '')
                                  #if ( $!pro.status != '1')
                                   <span class="delete-project" data-id="$!pro.encryptedId">
                                    <i class="glyphicon iconfont">&#xe622;</i> 删除 
                                   </span>
								  #end
								  #if ( $!pro.status == '3' ||  $!pro.status == '2')
                                   <span class="submit-project" data-id="$!pro.encryptedId">
                                    <i class="glyphicon iconfont">&#xe626;</i> 提交审核 
                                   </span>
                                  #end
                                #end
                              </div>  
                          </div>
                          <div class="project-status">
                              <div class="project-keys">
                                  #foreach ($!area in $!pro.areas)         
                                          <span class="new-key">$!area.text</span>#if($!velocityCount < $!pro.areas.size())<span>|</span> #end                   
                                  #end
                              </div>
                                  #if ($!pro.statusName != '')
                                     <div><span class="status" data-status="$!pro.status" data-toggle="tooltip" data-placement="bottom" title="$!pro.checkComment">$!pro.statusName</span></div>
                                  #end
                          </div>
                          <div class="p-txt">$!pro.synopsis</div>
                          <div class="project-financing-infor">
                            <ul>
							   #if ($!pro.financingRoundDto.text && $!pro.financingRoundDto.text.trim() != "")<li><span>融资轮次：$!pro.financingRoundDto.text </span></li>#end
                               #if ($!pro.planFinancingAmount && $!pro.planFinancingAmount.trim() != "")<li><span>融资金额：$!pro.planFinancingAmountStr万元 </span></li>#end
                               #if ($!pro.sharesSell && $!pro.sharesSell.trim() != "") <li><span>出让股权:$!pro.sharesSell %</span></li>#end
                            </ul>
                          </div>
                      </div>
                       
                      </div>
                  </li>    
               #end
    		</ul>		
        </div>		
    </div>
</div>

<!-- 小弹窗提示 star-->	  
	  <div class="modal hade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">    
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <h4 class="modal-title" id="mySmallModalLabel">提示<a class="anchorjs-link" href="#mySmallModalLabel"><span class="anchorjs-icon"></span></a></h4>
            </div>
            <div class="modal-body">              
            </div>
			<div class="modal-footer">
        		<button type="button" class="btn btn-primary" data-dismiss="modal">确实</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>        
            </div>
          </div>
        </div>
      </div>
<!-- 图片上传 弹窗start -->
<div class="modal" id="myModal" role="dialog" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">	
	<div class="modal-dialog wd5">
        <div class="modal-content">				  
			  <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">选择图片</h4>
              </div>
              <div class="modal-body">	
				<div class="img-upload-wrap">
					<div id="person-img-upload" class="img-upload uploadify"><i title="添加" class="iconfont">&#xe601;</i>上传头像</div>
    				<span>仅支持JPG、GIF、PNG格式，文件不大于1M。</span>					
				</div>
				<div class="image-preview-big">
        			<img id="photo" src="https://img.alicdn.com/tps/TB1_PlkIpXXXXbaXVXXXXXXXXXX.jpg">
        		</div>
        		<div class="preview-small-wrap">
            		<div class="person-img image-preview-small" id="preview">			
                    	<img id="photo-small" src="https://img.alicdn.com/tps/TB1avpBIpXXXXacXpXXXXXXXXXX.jpg">
                    </div>
        			<div class="image-preview-small-txt">头像预览</div>
        		</div>
			  </div>
			  <div class="modal-footer">
        		<button type="button" class="btn btn-primary " id="J_save_img">保存</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>        
              </div>
		</div>
	</div>
</div>

<!-- 图片上传 弹窗end -->

<!--我的项目-->


	<!--我的项目end-->
	<form action="youraction" method="post">
		<input id="startX" name="startX" readonly="readonly"/ type="hidden">
		<input id="startY" name="startY" readonly="readonly" type="hidden"/>
		<input id="width" name="width" readonly="readonly" type="hidden"/>
		<input id="height" name="height" readonly="readonly" type="hidden"/>
	</form>

	





