#set($header = "true")
#set($footer = "true")
#set($page="changepwd")
<div style="width:400px;margin: 150px auto;">
	<form id='findPwdForm'>
		<div class="findPwd">找回密码</div>
		 <table style="width:100%;margin: 0 auto;">
		    <tr>
		    	<td width="100px" align="right">我的手机号&nbsp;</td>
		    	<td colspan=2><input type='text' name='account' class="required w300 inputText" value='' placeholder="请输入您注册帐号时的手机号"></td>
		    </tr>
		    <tr>
		    	<td align="right">短信验证码&nbsp;</td>
		    	<td width="170px">
		    		<input type='text' name='validateCode' class="required inputText" placeholder="验证码" style="width:150px;"/>
		    	</td>
		    	<td>
		    		<div id="sendCode" class="validCode">获取验证码 </div>
		    	</td>
		    </tr>
		    <tr>
		    	<td width="100px" align="right">设置新密码&nbsp;</td>
		    	<td colspan=2><input type='password' value='' data="newpassword" class="required w300 inputText" value='' placeholder="请输入您的密码"></td>
		    </tr>
		    <tr>
		    	<td></td>
		    	<td colspan=2 class="lt"><input type="submit" name="submit" value="提交" class="button"/></td>
		    </tr>
		  </table>
		
	</form>
</div>
